body {background-color:#cce8cf;width: 210mm;margin: 0 auto;padding: 0 20px 20px 20px;}
code {padding: 0 0 0 0;font-size: larger;font-weight: bolder;}
h3 {text-align: center;}
button {text-align: center;}